<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="team.payment.prod.PayProductMapper"> <!-- 네임스페이스가 인터페이스 프로덕트맵퍼랑경로가같아야함 -->
   
<select id="list" resultType="PayProductVO">

	select 
		p.p_code,ct.c_code, p.p_name,
		p.p_price, ct.p_amount,
		p.p_price * ct.p_amount money 
	from 
		product p, 
		cart ct
	where 
		 p.p_code=ct.p_code

</select><!-- p_code,c_code 다가져옴..여기서다가져와야함 멤버아이디넣엉햐ㅏㅁ-->


   
</mapper>
