<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="team.join.AdminJoinMapper">
		<sql id="noMax">
		(select max(no)+1 from manager)
	</sql>
	
	
	<insert id="insert" parameterType="AdminJoinVO">
		<selectKey keyProperty="no" resultType="java.lang.Integer" order="BEFORE">
			<include refid="noMax"/>
		</selectKey>
		insert into "manager" 
		(no, id, pw, name) 
		values
		(#{no}, #{id},#{pw},#{name})
	</insert>

	
<!--<select id="login" resultType="JoinVO" parameterType="JoinVO" > -->
<select id="login" resultType="AdminJoinVO">
			select * from "manager" 
			where id = #{'id'}
			<!-- where id=#{id , jdbcType=VARCHAR} -->


</select>
		
</mapper>


